<h1>vlad@holler.com.au</h1>

<p>From here you can manage your Opal Card/s and account details. If you can't find something <a href="/">just let us know</a>.</p>

<hr>

<section class='col-sm-12'>
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#card" data-toggle='tab'>Manage card</a></li>
    <li><a href="#personal" data-toggle='tab'>Personal details</a></li>
  </ul>
</section>

<div class="tab-content">

  <%= erb :card_admin %>

  <%= erb :personal_admin %>
</div>