<section>

  <h1>Can I use Opal Card?</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua.</p>

  <hr>

  <article>
    <p id='can-i-use-form'>I'm travelling from 
      <span class="form-place-to" data-toggle="popover" title="" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Central&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Manly&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Penrith&lt;/a&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Bondi Junction&lt;/a&gt; &lt;/li&gt; &lt;/li&gt; &lt;/ul&gt;" data-placement='bottom'>Bondi Junction</span>
       to 
      <span class="form-place-from" data-toggle="popover" title="" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Central&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Manly&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Penrith&lt;/a&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Bondi Junction&lt;/a&gt; &lt;/li&gt; &lt;/li&gt; &lt;/ul&gt;" data-placement='right'>Parramatta</span> 
       as a 
      <span class="form-trip" data-toggle="popover" title="" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;return trip&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;weekly pass&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;monthly pass&lt;/a&gt; &lt;li&gt; &lt;/ul&gt;" data-placement='bottom'>single trip</span>
       on a 
      <span class="form-day" data-toggle="popover" title="" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Saturday&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Sunday&lt;/a&gt; &lt;/li&gt; &lt;/ul&gt;" data-placement='left'>weekday</span>.</p>
    <p id='can-i-use-result'>Your fare is: 
      <span class="result-fare" data-toggle="popover" title="" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;$6.70 foo train to bar.&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;$8.90 baz train to zolt.&lt;/a&gt; &lt;/li&gt; &lt;/ul&gt;" data-placement='bottom'>$6.70</span>
       on 
      <span class="result-provider" data-toggle="popover" title="" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;MyTrain&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;MyTrain offpeak&lt;/a&gt; &lt;/li&gt; &lt;/ul&gt;" data-placement='bottom'>Opal</span>
      .</p>
  </article>
</section>