<p>Name: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change name&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Card #2&lt;/a&gt; &lt;/li&gt; &lt;/ul&gt;" data-placement='right'>Card #1</span></p>

<p>$38 balance</p>
<p><span class="card-details-name" data-toggle="popover" data-title="Top up" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;$40&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;$80&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;$120&lt;/a&gt; &lt;/li&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Cancel&lt;/a&gt; &lt;/li&gt; &lt;/ul&gt;" data-placement='right'>Auto top up $80</span></p>
<p>30948575849</p>
<hr>
<div class='card-button'>
  <a href="/order" class='btn btn-primary'>Order new card</a>
  <a href="/order" class='btn btn-info'>Connect existing card</a>
  <hr>
  <a href="/order" class='btn btn-warning'>Unlink this card</a>
  <a href="/" class='btn btn-danger'>Cancel card</a>
</div>