<div id="card" class="tab-pane active">
  <section class='row'>
    <article>

      <div id="card-details" class='col-md-2'>
        <%= erb :card_details %>
      </div>

      <div class='col-md-10'>
        <%= erb :card_table %>
      </div>

    </article>
  </section>
</div>