<h1>Order</h1>
<p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<hr>

<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#details" data-toggle='tab'>1. Your details</a></li>
  <li><a href="#payment" data-toggle='tab'>2. Payment</a></li>
  <li><a href="#cofirm" data-toggle='tab'>3. Confirmation</a></li>
</ul>

<div class="tab-content">

  <div id="details" class="tab-pane active">
    <section class='row'>
      <article class='col-md-8'>
        <form role="form">
          <div class="form-inline">

            <h3>Name</h3>

            <div class="form-group">
              <!-- <label>First name</label> -->
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Salutation">
            </div>

            <div class="form-group">
              <!-- <label>First name</label> -->
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="First name">
            </div>

            <div class="form-group">
              <!-- <label>Last Name</label> -->
              <input type="Last Name" class="form-control" id="exampleInputLast Name2" placeholder="Last Name">
            </div>
          </div>

          <hr>

          <div class="form-inline">

            <h3>Address</h3>

            <div class="form-group">
              <!-- <label>First name</label> -->
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Unit # / street #">
            </div>

            <div class="form-group">
              <!-- <label>First name</label> -->
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Street name">
            </div>

            <div class="form-group">
              <!-- <label>Last Name</label> -->
              <input type="Last Name" class="form-control" id="exampleInputLast Name2" placeholder="Additional">
            </div>

            <hr>

            <div class="form-group">
              <!-- <label>First name</label> -->
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="City / suburb">
            </div>

            <div class="form-group">
              <!-- <label>First name</label> -->
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="State / Region">
            </div>
            <div class="form-group">
              <!-- <label>Last Name</label> -->
              <input type="Last Name" class="form-control" id="exampleInputLast Name2" placeholder="Postcode / ZIP">
            </div>
          </div>

          <hr>

          <select id='aus-dropdown' class="form-control">
            <option>Australia</option>
            <option>Country 2</option>
            <option>Country 3</option>
            <option>Country 4</option>
            <option>Country 5</option>
          </select>

          <hr>

          <div class="form-inline">

            <h3>Account</h3>

            <div class="form-group">
              <!-- <label>First name</label> -->
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Email">
            </div>

            <div class="form-group">
              <!-- <label>First name</label> -->
              <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Password">
            </div>

            <div class="form-group">
              <!-- <label>Last Name</label> -->
              <input type="Last Name" class="form-control" id="exampleInputLast Name2" placeholder="Opal PIN">
            </div>
          </div>

          <hr>

          <a id='form-button' class="btn btn-primary btn-lg" href="#payment"  data-toggle='tab'>Next ></a>

        </form>
      </article>

      <article id="progressive-rollout" class='col-md-3'>
        <h4>Progressive rollout</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit... <a href="">more</a>.</p>
      </article>
    </section>
  </div>

  <div id="payment" class="tab-pane">
    <section class='row'>
      <article class='col-md-9'>
        <h4>Payment form here</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit... <a href="">more</a>.</p>
      </article>

      <article class='col-md-3'>
        <h4>Progressive rollout</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </article>

    </section>
  </div>
</div>