<h2>Personal details</h2>

<section class='row'>

  <div class='col-md-3'>
    <h4>Personal information</h4>
    <p>Username: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>vlad@holler.com.au</span></p>

    <p>First name: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>Vlad</span></p>

    <p>Last name: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>Ivanovic</span></p>

    <p>Address: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'><br/>1 Foo St <br/>Redfern <br/>Sydney, NSW <br/>2016, Australia</span></p>

    <p>Date of birth: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>[Missing]</p>

    <p>Phone: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>[Missing]</p>

    <p>Mobile: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>0448 848 848</p>
  </div>

  <div class='col-md-3'>
    <h4>Account information</h4>

    <p>Password: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>**********</p>

    <p>Opal PIN: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>1234</p>

    <p>Security question: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>Mother's maiden name</p>

    <p>Security question answer: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>**********</p>

  </div>

  <div class='col-md-3'>
    <h4>Billing details</h4>

    <p>Name on card: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>Mr John Smith</p>

    <p>Card type: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>VISA CARD</p>

    <p>Card number: <span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt;a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>**********</p>

    <p>Expiry date:<span class="card-details-name" data-toggle="popover" data-html="true" data-content="&lt;ul&gt; &lt;li&gt; &lt; a href=&quot;#&quot;class=&quot;inner-form&quot; &gt;Change&lt;/a&gt; &lt;/ul&gt;" data-placement='right'>**********</p>
  </div>

  <div class='col-md-3'>
    <h4>Notifications</h4>
    <form role="form">
      <div class='checkbox'>
        <input type='checkbox' checked>Payment auto top-up
      </div>

      <div class='checkbox'>
        <input type='checkbox'>Weekly travel summary
      </div>

      <div class='checkbox'>
        <input type='checkbox'>Balance is low
      </div>
    </form>
  </div>

</section>

<hr>
<div class=''>
  <a href="/" class='btn btn-danger'>Delete my account</a>
</div>